{
  "ConnectionStrings": {
    "DefaultConnection": "Server=(your_server);Database=CertificateManagement;User Id=your_user;Password=your_password;Encrypt=False;"
  },
  "EmailSettings": {
    "SenderName": "Certificate Management",
    "SenderEmail": "you@example.com",
    "SmtpServer": "smtp.gmail.com",
    "Port": 587,
    "Password": "your_email_password"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*"
}
